.benga {
  position: fixed;
  top: 3px;
  right: 100px;
  font-size: 14px;
  z-index: 999;
}

.open{
  background-color: lightblue;
  box-shadow: 0 3px #666;
  transform: translateY(4px);

  position: fixed;
  top: 15px;
  right: 385px;
  font-size: 14px;
  z-index: 999;
}

.sendbtn {
  background-color: #4CAF50;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.closebtn {
  background-color: darkgrey;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.answer {
  background-color: #4CAF50;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.popup-overlay {
  visibility: hidden;
}

.popup-content {
  visibility: hidden;
}

.popup-overlay.active {
	/*displays pop-up when "active" class is present*/
	visibility: visible;
  text-align: center;
  }
  
  .popup-content.active {
	/*Shows pop-up content when "active" class is present */
  visibility: visible;
  width: 150px;
  border: 5px solid grey;
  padding: 30px;
  margin: 10px;
  background-color: lightblue;

  position: fixed;
  top: 40px;
  right: 330px;
  font-size: 14px;
  z-index: 999;
  }
  
  .odgovor{
    visibility: hidden;
  }

  .odgovor.active{
    visibility: visible;
    width: 150px;
    border: 5px solid grey;
    padding: 30px;
    margin: 10px;
    background-color: lightblue;

    position: fixed;
    top: 40px;
    right: 330px;
    font-size: 14px;
    z-index: 999;
  }

  .rezultati{
    visibility: hidden;
  }
  
  .rezultati.active{
    visibility: visible;
    width: 150px;
    border: 5px solid grey;
    padding: 35px;
    margin: 10px;
    background-color: lightblue;

    position: fixed;
    top: 40px;
    right: 330px;
    font-size: 14px;
    z-index: 999;
  }

 